@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  :root {
    --background: oklch(100% 0 0);
    --foreground: oklch(3.9% 0 0);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(3.9% 0 0);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(3.9% 0 0);
    --primary: oklch(9% 0 0);
    --primary-foreground: oklch(98% 0 0);
    --secondary: oklch(96.1% 0 0);
    --secondary-foreground: oklch(9% 0 0);
    --muted: oklch(96.1% 0 0);
    --muted-foreground: oklch(45.1% 0 0);
    --accent: oklch(96.1% 0 0);
    --accent-foreground: oklch(9% 0 0);
    --destructive: oklch(50.3% 0.218 27.33);
    --destructive-foreground: oklch(98% 0 0);
    --border: oklch(89.8% 0 0);
    --input: oklch(89.8% 0 0);
    --ring: oklch(3.9% 0 0);
    --radius: 0.5rem;
    --sidebar: oklch(98% 0 0);
    --sidebar-foreground: oklch(34.1% 0.02 264.05);
    --sidebar-primary: oklch(21% 0.006 285.89);
    --sidebar-primary-foreground: oklch(98% 0 0);
    --sidebar-accent: oklch(96.1% 0.005 285.89);
    --sidebar-accent-foreground: oklch(21% 0.006 285.89);
    --sidebar-border: oklch(91.7% 0.009 264.05);
    --sidebar-ring: oklch(60.7% 0.165 254.13);
  }

  .dark {
    --background: oklch(3.9% 0 0);
    --foreground: oklch(98% 0 0);
    --card: oklch(3.9% 0 0);
    --card-foreground: oklch(98% 0 0);
    --popover: oklch(3.9% 0 0);
    --popover-foreground: oklch(98% 0 0);
    --primary: oklch(98% 0 0);
    --primary-foreground: oklch(9% 0 0);
    --secondary: oklch(14.9% 0 0);
    --secondary-foreground: oklch(98% 0 0);
    --muted: oklch(14.9% 0 0);
    --muted-foreground: oklch(63.9% 0 0);
    --accent: oklch(14.9% 0 0);
    --accent-foreground: oklch(98% 0 0);
    --destructive: oklch(50.3% 0.218 27.33);
    --destructive-foreground: oklch(98% 0 0);
    --border: oklch(14.9% 0 0);
    --input: oklch(14.9% 0 0);
    --ring: oklch(83.1% 0 0);
    --sidebar: oklch(21% 0.006 285.89);
    --sidebar-foreground: oklch(96.1% 0.005 285.89);
    --sidebar-primary: oklch(54.6% 0.215 262.87);
    --sidebar-primary-foreground: oklch(100% 0 0);
    --sidebar-accent: oklch(24.2% 0.004 285.89);
    --sidebar-accent-foreground: oklch(96.1% 0.005 285.89);
    --sidebar-border: oklch(24.2% 0.004 285.89);
    --sidebar-ring: oklch(60.7% 0.165 254.13);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
